
body {
    background-color: rgb(57, 246, 240);
}
header {
    background-color: aquamarine;
}
footer {
    background-color: aquamarine;
}
h1 {
    text-align: center;
}
p {
    color: violet;
    font-style: italic;
}
img {
    border-radius: 200in;
}
ul {
    font-family:'Times New Roman', Times, serif ;
}
